<c-carousel
  *ngIf="movies.length > 0; else loader"
  [interval]="5000"
  style="margin-bottom: 2rem"
>
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngFor="let movie of movies" class="carousel__item">
      <img
        alt="{{ movie.title }}"
        loading="lazy"
        src="{{ movie.backdrop_path }}"
      />
      <c-carousel-caption class="d-none d-md-block">
        <div class="infos__container">
          <h2>{{ movie.title }}</h2>
          <p>{{ movie.overview }}</p>
          <button
            [routerLink]="['/movie', movie.id]"
            cButton
            color="danger"
            class="primary"
          >
            Veja mais detalhes
          </button>
        </div>
      </c-carousel-caption>
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control
    [routerLink]
    caption="Previous"
    direction="prev"
  ></c-carousel-control>
  <c-carousel-control
    [routerLink]
    caption="Next"
    direction="next"
  ></c-carousel-control>
</c-carousel>

<ng-template #loader>
  <app-loader-spinner></app-loader-spinner>
</ng-template>
