.footer__container {
  padding: 1rem 2rem;
  margin-top: auto;
  align-self: flex-end;
  min-width: 100vw;
  background-color: rgb(60, 60, 60, 0.5);

  p {
    font-size: var(--font-text-2);
    color: var(--color-white);
  }
}
