.footer__container {
  padding: 1rem 2rem;
  background-color: rgb(60, 60, 60, 0.5);

  img {
    mix-blend-mode: multiply;
    width: 150px;
    object-fit: contain;
  }

  p {
    font-size: var(--font-text-2);
    color: var(--color-white);
    margin-bottom: 0rem;
  }
}
