<header>
  <c-navbar
    colorScheme="dark"
    expand="lg"
    class="translucent"
    placement="fixed-top"
  >
    <c-container fluid>
      <a cNavbarBrand>
        <img
          src="../../../assets/epic-stream-logo2.png"
          alt="Epic Stream Logo"
          routerLink="/"
        />
      </a>
      <button [cNavbarToggler]="collapseRef"></button>
      <div #collapseRef="cCollapse" navbar cCollapse>
        <c-navbar-nav class="me-auto mb-2 mb-lg-0">
          <c-nav-item>
            <a cNavLink (click)="getFamily()">Família</a>
          </c-nav-item>
          <c-nav-item>
            <a cNavLink (click)="getAction()">Ação</a>
          </c-nav-item>
          <c-nav-item>
            <a cNavLink (click)="getComedy()">Comédia</a>
          </c-nav-item>
          <c-nav-item>
            <a cNavLink (click)="getDocs()">Documentários</a>
          </c-nav-item>
          <c-nav-item>
            <a cNavLink (click)="getSciFi()">Sci-Fi</a>
          </c-nav-item>
        </c-navbar-nav>
        <form
          cForm
          class="d-flex"
          role="search"
          [formGroup]="form"
          (ngSubmit)="searchMovie()"
          novalidate
        >
          <input
            cFormControl
            type="search"
            placeholder="Digite sua busca aqui"
            aria-label="Search"
            class="me-2"
            autocomplete="off"
            formControlName="searchTerm"
          />
          <button cButton color="danger" type="submit" disabled="{{form.status === 'INVALID' ? true : false}}">
            Pesquisar
          </button>
        </form>
      </div>
    </c-container>
  </c-navbar>
</header>
