.movies__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  max-height: fit-content;
  padding: 0rem 1rem;
  gap: 1rem;
  align-items: center;
  overflow-x: auto;
  margin: 1rem auto;
  padding-bottom: 2rem;
}

.movie-card {
  list-style: none;
  border-radius: 0.5rem;
  border: none;
  min-width: 150px;
  max-width: 300px;
  min-height: 250px;
  transition: 0.3s;

  .movie-poster {
    width: 100%;
    height: 100%;
    flex: 1;
    object-fit: cover;
    object-position: center center;
    transition: 0.2s;
    cursor: pointer;
  }


  .overlay {
    display: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);

    h5 {
      font-size: 1.2rem;
      margin-bottom: 0rem;
    }

    p {
      font-size: 0.85rem;
      font-weight: bold;
      margin-bottom: 0rem;
    }
  }
}

.movie-card:hover {
  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
  }
}

.vote-and-star__container {
  display: flex;
  align-items: center;
  gap: 1rem;

  img, svg {
    object-fit: cover;
    max-width: 25px;
    max-height: 25px;
  }
}

.movie-card:hover {
  transform: scale(1.05);
}

@media (min-width: 850px) {
  .movies__list {
    flex-wrap: wrap;
    height: 100%;
    max-height: fit-content;
  }

  .movie-card {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  .movie-card {
    min-width: 250px;
    min-height: 400px;
  }
}
