<main>
  <app-carousel></app-carousel>

  <section class="section__container" id="popular">
    <h2>Populares</h2>
    <app-movies-list category="popular"></app-movies-list>
  </section>

  <section class="section__container" id="available">
    <h2>Em Cartaz</h2>
    <app-movies-list category="available"></app-movies-list>
  </section>

  <section class="section__container" id="upcoming">
    <h2>Em Breve</h2>
    <app-movies-list category="upcoming"></app-movies-list>
  </section>

  <section class="section__container" id="top-rated">
    <h2>Mais Assistidos</h2>
    <app-movies-list category="top-rated"></app-movies-list>
  </section>
</main>
