<ng-container *ngIf="(movies | async)?.total_results !== 0; else popular">
  <c-card-group class="movies__list">
    <div *ngFor="let movie of (movies | async)?.results">
      <div *ngIf="movie.poster_path !== null">
        <c-card class="movie-card" textColor="white">
          <img
            class="movie-poster"
            cCardImg="top"
            [cCardImg]
            [src]="moviesService.getMoviePoster(movie.poster_path)"
            alt="{{ movie.title }}"
          />

          <c-card-img-overlay
            class="overlay"
            [routerLink]="['/movie', movie.id]"
          >
            <h5 cCardTitle>{{ movie.title }}</h5>
            <div class="vote-and-star__container">
              <p cCardText>
                {{ movie.vote_average.toFixed(1) }}
              </p>
              <img
                src="../../../assets/star.svg"
                alt="Ícone de uma estrela amarela"
              />
            </div>
          </c-card-img-overlay>
        </c-card>
      </div>
    </div>
  </c-card-group>
</ng-container>

<ng-template #popular>
  <c-card-group class="movies__list">
    <div *ngFor="let movie of popularMovies">
      <div *ngIf="movie.poster_path !== null">
        <c-card class="movie-card" textColor="white">
          <img
            class="movie-poster"
            cCardImg="top"
            [cCardImg]
            [src]="moviesService.getMoviePoster(movie.poster_path)"
            alt="{{ movie.title }}"
          />

          <c-card-img-overlay
            class="overlay"
            [routerLink]="['/movie', movie.id]"
          >
            <h5 cCardTitle>{{ movie.title }}</h5>
            <div class="vote-and-star__container">
              <p cCardText>
                {{ movie.vote_average.toFixed(1) }}
              </p>
              <img
                src="../../../assets/star.svg"
                alt="Ícone de uma estrela amarela"
              />
            </div>
          </c-card-img-overlay>
        </c-card>
      </div>
    </div>
  </c-card-group>
</ng-template>

<ng-template #loader>
  <app-loader-spinner></app-loader-spinner>
</ng-template>
